.card_img{
    width: 20vw ;
    height: 20vh;
    object-fit: contain;
    margin: 10px;
    border-radius: 7px;
}

.group_photo_img{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}